Caro {{ nome }},

Recebemos um pedido para redefinir a senha para a sua conta. Clique
no link abaixo para cadastrar uma nova senha

{{ url }}

Se você não pediu essa redefinição, basta ignorar este email
