{% from 'bootstrap5/form.html' import render_form, render_field %}
{% extends "_layout.jinja2" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <form method="POST" novalidate>
                    {{ form.csrf_token() }}
                    <div class="card shadow-lg my-5">
                        <div class="card-header px-5 py-4">
                            <h4 class="fw-bold mb-4 card-title">{{ title_card }}</h4>
                            <p class="lead">Digite o seu email cadastrado no sistema para solicitar uma nova senha</p>
                        </div>
                        <div class="card-body px-5 py-4">
                            <div class="row mb-3">
                                <div class="col-12">
                                    {{ render_field(form.email) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mt-5 mb-3">
                                    {{ render_field(form.submit, button_style='primary', button_size='lg', class='w-100') }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer justify-content-center p-3 overflow-auto">
                            <div class="text-center">
                                Não tem uma conta? <a href="{{ url_for('auth.register') }}"
                                                      class="text-dark">Crie uma!</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
