{% from 'bootstrap5/form.html' import render_form, render_field %}
{% from 'bootstrap5/utils.html' import render_icon %}
{% extends "_layout.jinja2" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 col-xxl-6">
            <form method="POST" enctype="multipart/form-data" novalidate>
                {{ form.csrf_token() }}
                <div class="card shadow-lg my-5">
                    <div class="card-header px-5 py-4">
                        <h2 class="fw-bold mb-0 card-title">Novo Gênero</h2>
                    </div>
                    <div class="card-body px-5 py-4">
                        <div class="mb-3">
                            {{ render_field(form.nome) }}
                        </div>

                        <div class="mb-0">
                            {{ render_field(form.descricao, rows=10) }}
                        </div>

                    </div>
                    <div class="card-footer px-5 py-3 d-flex justify-content-end gap-2">
                        <a href="{{ url_for('genero.listar_generos') }}" class="btn btn-secondary">
                            {{ render_icon('x-circle', size='1.25em') }} Cancelar
                        </a>
                        {{ render_field(form.submit, button_style='primary', button_size='md') }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
